
@{
    ViewData["Title"] = "Contactenos";
}

<div class="todoContacto">
    <div>
        <div class="cuadros">
            <h3>NOSOTROS</h3>
            <p> Nacional 999 929 277</p>
            <p> Inter 949 495 015</p>
            <p> gerencia@atipaxgroup.com</p>
        </div>
        <div class="cuadros">
            <h3>NACIONAL</h3>
            <p> reservas1@atipaxgroup.com</p>
            <p> reservas3@atipaxgroup.com</p>
            <p> reservas5@@atipaxgroup.com</p>
            <p> 999 929 277</p>

        </div>
    </div>
    <div>
        <div class="cuadros">
            <h3>INTERNACIONAL</h3>
            <p> inter1@atipaxgroup.com</p>
            <p> inter2@atipaxgroup.com</p>
            <p> inter4@atipaxgroup.com</p>

        </div>
        <div class="cuadros">
            <h3>EUROPA Y DESTINOS EXOTICOS</h3>
            <p> europa1@atipaxgroup.com</p>
            <p> europa2@atipaxgroup.com</p>
            <p> 943 025 516</p>

        </div>
    </div>
</div>


