
@{
    ViewData["Title"] = "Inicio";
}

<div class="fondo">
</div>
<div class="novedades-bg" style="padding-bottom: 40px; padding-top:30px">
    <h2 style="text-align: center; color: #d0d0d0;">NOVEDADES</h2>
    <div class="fourFotos">
        <img class="nove" src="/img/nove1.jpeg" />
        <img class="nove" src="/img/nove2.jpeg" />
        <img class="nove" src="/img/nove3.jpeg" />
        <img class="nove" src="/img/nove4.jpeg" />
    </div>
</div>
<div class="hotels">
    <img class="hotel" src="/img/hotelCuatro.png" />
    <img class="hotelBahia" src="/img/hotelUno.png" />
    <img class="hotelBlue" src="/img/hotelDos.png" />
    <img class="hotelTigre" src="/img/hotelSeis.png" />
    <img class="hotel" src="/img/hotelTres.png" />
</div>
<div class="nosotros">
    <div class="imgNosotros">
        <img class="noso" src="/img/nosotrosDos.jpeg" />
    </div>
    <div class="sobreNosotros">
        <h2>Sobre Nosotros</h2>
        <p>
            Apasionados por tus viajes desde 2006. Nacimos con la misión
            de que nuestros pasajeros conozcan el Perú y el Mundo de la
            mejor manera y con la mejor tarifa.
        </p>
    </div>
</div>

